@import "variables.scss";
* {
    font-family: Arial, Helvetica, sans-serif;
}html {
    --bg:#1d201d;
    --box-bg:linear-gradient(135deg, #11d663, #11d69b);
    --selected-color:#4b5c4bf5;
    --border:1px solid gray;
    --filter:brightness(90%);
    --box-shadow:0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --h1:rgb(184, 184, 184);
    --h1dark:rgb(36, 36, 36);
    --bg-large:rgb(88, 88, 88);
    --navbar:rgb(59, 59, 59);
    --nav-border:rgb(29, 29, 29);
    --dropdown:rgb(117, 117, 117);
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #content {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 100%;
    height: 100%;
  }
  
  img {
    width: 50px;
    height: auto;
  }
  
  #backButton {
    background-color: inherit;
    border: none;
    outline: 0;
  }

  
  #button {
    background-color: #11d663;
    color: black;
    border: 2px solid #11d663;
    -ms-flex-line-pack: center;
    align-content: center;
  
    &:hover {
      background-color: white;
      color: black;
    }
  }
  
  #phone {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    color: white;
  }
  
  #mail {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    float: right;
    color: white;
  }
  
  textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  
  #error {
    color: white;
    margin-top: 150px;
    font-size: 3em;
    text-align: center;
  }
  
  #customername {
    text-align: center;
    font-size: 1.6em;
  }
  #Header {
    padding-left: 10px;
    color: white;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.3em;
  }
  .Business {
    border-radius: 25px;
    background: var(--box-bg);
    color: black;
    margin:0;
    height: 7vh;
    margin-left: 5px;
    margin-top:5px;
    margin-bottom: 0.4em;
    padding-left:20px;
    padding-top:10px;

    p{
        margin: 0;
        padding-top: 10px;
        margin-left: 0.7em;
        margin-top: 0.5em;
        color: var(--h1dark);
        font-weight: 400;
        font-size: 1.2em;
        padding-left: 10px;
    }
  }

  #phoneImg{
    margin-right: 20px;
  }

@media only screen and (min-width: 992px) {

    #content{
        display: grid;
    } 
    #mail{
      grid-column: 6/12;
      grid-row: 1;
    }
    #phone{
      clear: both;
      grid-column: 4/12;
    }
    #customername{
      clear: both;
      margin-top: 10%;
    }
  }