@import "variables.scss";

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

#headerRight {
    button {
        background-color: Transparent;
        border: none;
        outline: none;
    }
}

#content {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1;
}

.container{
    margin-top: 2em;
    margin-bottom: 65px;
    grid-row: 1;
    grid-column: 1;
}

.business {
    @extend %box;
    margin-left: 5px;
    margin-right: 5px;
    height: 17vh;
    margin-bottom: 0.4em;

    h3{
        margin: 0;
        padding-top: 10px;
        margin-left: 0.7em;
        margin-top: 0.5em;
        color: var(--h1dark);
        font-weight: 400;
        font-size: 1.2em;
    }

    h4 {
        margin: 0;
        padding: 0;
        margin-left: 0.7em;
        margin-top: 1.2em;
        color: var(--h1dark);
        font-weight: 400;
        font-size: 1.3em;
    }

    #remove {
        margin-left: 80%;
        font-size: 13px;
    }
}


.addBusinessContainer {
    display: none;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--selected-color);
    opacity: 1;
    font-weight: lighter;
    font-size: 20px;

    .addBusiness {
        height:50vh;
        margin-top: 50px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 40px;
    }

    .divSum {
        word-spacing: 0.5em; 
    }

    .addBusBtn {
        align-self: center;
        margin-right: 60px;
    }

    h1 {
        font-weight: lighter;
    }

    button {
        padding: 10px;
        font-size: 16px;
        color: lightgray;
        border: 1px solid lightgray;
        background-color: var(--selected-color);
    }

    select{
        font-size: 16px;
    }

}

.visible {
    display: inline;
}

@media only screen and (min-width: 992px) {

    #content {
        grid-template-rows: repeat(5 1fr);
    }

    .container {
        grid-column: 3 / 11 !important;
        grid-row: 1 / 5;
        display: flex;
        flex-wrap: wrap;
    }
    .business {
        width: 30vw;
    }

    .sideBar {
        grid-column: 11 / 13;
        margin-top: 200px;

        button {
            margin-left: 20px;
            border-style: none;
            background-color: var(--navbar);
            padding: 20px;
            font-size: 18px;
            color: lightgray;
            border-radius: 10px;
            border: 1px solid lightgray;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            &:hover {
                cursor: pointer;
                background-color: rgb(19, 19, 19);
            }
        }
    }

    .addBusinessContainer {
        grid-column: 9 / 13;
        grid-row: 1 / 5;
        min-width: 30vw;
        overflow: hidden;
        z-index: 5;
        background-color: var(--bg-large);
    }

    #remove {
        border-style: none;
        background-color: transparent;
        font-size: 13px;
    }

}