* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#headerBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: #84BF40;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: inherit;
        border: none;
        outline: 0;
    }
}

#content {
    margin-top: 55px;
    margin-bottom: 55px;
    width: 100%;
    height: 100%;

    .errand {
        min-height: 50px;
        margin: 3px;
        border: 1px solid black;
        background-color: grey;

        .description {
            word-wrap: break-word;
        }

        .done {
            float: right;

            * {
                display: block;
            }
        }
    }
}

#menuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: #84BF40;

    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        background-color: inherit;
        border: none;
        outline: 0;
    }
}

img {
    width: 30px;
    height: auto;
}

.form-popup {
    display: none;
    background-color: grey;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}