* {
    font-family: Helvetica, Arial, sans-serif;
}

@import "./variables.scss";

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}

#headerBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
    justify-items: center;
    color: var(--h1);
}


#menuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: var(--bg);
    border-top: var(--border);

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    a {
        justify-self: center;
        height: 100%;
        width: 100%;

        margin: 0;

        button {
            background-color: inherit;
            border: none;
            outline: 0;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
}

img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.selected {
    background-color: var(--selected-color) !important;
    color: white !important;
}