* {
    font-family: Helvetica, Arial, sans-serif;
}

@import "./variables.scss";

body {
    background-color: var(--bg);
    padding: 0;
    margin: 0;
}

#headerBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
    justify-items: center;
    color: var(--h1);
}


#menuBar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: var(--bg);
    border-top: var(--border);

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    a {
        justify-self: center;
        height: 100%;
        width: 100%;

        margin: 0;

        button {
            background-color: inherit;
            border: none;
            outline: 0;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }
}

.navBar {
    display:none;
}

img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.selected {
    background-color: var(--selected-color) !important;
    color: white !important;
}


@media only screen and (min-width: 992px) {
    body{
        background-color: var(--bg-large);
    }

    #headerBar {
        display:none;
    }

    #menuBar {
        display:none;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .navBar {
        top: 0;
        left: 0;
        background-color: var(--navbar);
        height: 7vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        border-bottom: var(--nav-border);

        a {
            color: white;
            text-decoration: none;
        }

        .dropErrand {
            position: relative;
            display: flex;
            flex-direction: column;

            button {
                background-color: var(--navbar);
                border-style: none;
                padding: 18px;
                font-size: 1em;
            }

            .dropContent {
                margin-top: 40px;
                margin-left: 15px;
                z-index: 1;
                position: absolute;
                display: none !important;
                height: auto;
                width: 100px;
                background-color: var(--dropdown);
                display: flex;
                flex-direction: column;
                
                .a {
                    color: lightgray;
                    text-decoration: none;
                    padding: 5px;

                    &:hover {
                        background-color: lightgray;
                        
                        a {
                            color: var(--navbar);
                        }
                    }
                }

            }
        }

        .dropErrand:hover{
            .dropContent {
                display: inline !important;
            }
        }
    }

  }