
html {
    --stath1: #eee;
    --statColor: #11d663;
    --btnColor: rgb(70, 70, 70);
    --btnHover: #83e0aab6;
}

.container {
    overflow: hidden;
    margin-top: 4em;
    margin-right: 20px;
    margin-left: auto;
    width: 90vw;
}

canvas {
    height: 40vh;
    max-height: 40vh;
    margin-bottom: 15px;
}

.btnContainer {
    width: 90vw;
    margin: auto;
    display:flex;
    justify-content: center;
    justify-content: space-between;

    button {
        padding: 2px;
        width: 24.5%;
        border-style: none;
        border-radius: 3px;
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        color:white;
        background-color: #c5c5c5;

        .active {
            background-color: #7ADE68;
        }

        &:hover {
            background-color: #7ADE68;
        }
    }
}

h1 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    color: var(--stath1);
}

.total span {
    font-size: 40px;
    color: var(--statColor);
}

#week {
    font-size: 30px;
    padding: 0;
}