body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

.container{
    width: 98%;
    margin: auto;
    margin-top: 0.5em;
}

.business {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    width: 98vw;
    height: 17vh;
    background: linear-gradient(135deg, #84BF40, #68A423 );
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(255, 233, 199);
    margin-bottom: 0.4em;
}

.business:hover{
    border: solid orange 2px;
}

.business h3{
    margin: 0;
    padding: 0;
    margin-left: 0.7em;
    margin-top: 0.5em;
    color: white;
    font-weight: 400;
    font-size: 1.2em;
}

.business h4 {
    margin: 0;
    padding: 0;
    margin-left: 0.7em;
    margin-top: 1.2em;
    color: white;
    font-weight: 400;
    font-size: 1.3em;
}